<table border="2">
<thead>BattleShips</thead>
<% (1..10).to_a.unshift(' ').each do |column| %>
		<th><% column %></th>
	<% end %>
<% @cells.each_with_index do |row, index| %>
<tr>
<th><%= (index + 65).chr %></th>
<% row.each do |cell| %>
<td><%= cell %></td>
<% end %>
</tr>
<% end %>
</table>

<% if @player1.ships == [] %>
<p></p>
<form action='/add_ships' method='post'>
  <input type='submit' value='Gimme some ships!'>
</form>

<% else %> 
<p>Here are your ships:</p>
<% @player1.ships.each do |ship| %>
<ul>
  <li><%= ship.name %><a href='/place_<%= ship.name %>'>Place me!</a></li>
</ul>
<% end %>

<p></p>

<% end %>
