<html>
<head></head>

<body>

  <h1>Welcome to Battleships</h1>

  <% if @player1 %>

    <h2>Player 1: <%= @player1.name %></h2>
    <p><a href='/game'>Ready to play</a></p>

  <% else %>

    <h2>No players have yet been initialized!</h2>
    <p><a href='/new_player'>New Player</a></p>

<% end %>


</body>

</html>
	