<html>
<head>
  <title> WELCOME TO BATTLESHIPS </title>
<!--   <link href="/style.css" rel="stylesheet" type="text/css" />
 --></head>

<body>

<table id='banner' align='center'>
  <tr>
    <td><img src='/images/battleship.png' width='600'></td>
  </tr>
  <tr align="center">
    <td><font face='impact' color='red' size='96px'>let's play battleship</font></td>
  </tr>
</table>

<p align='center'><font face='impact' font='32px'> new game </font></p>






</body>

</html>