<h2>Place your submarine!</h2>

<p>Size: 3</p>



<p>Enter three consecutive cells!</p>

<form action='/place' method='POST'>
  <input type='text' name='cell1'>
  <input type='text' name='cell2'>
  <input type='text' name='cell3'>
  <input type='submit' value='Place my ship!'>
</form>